:root {
  --Primary-fontc: #000;
}
.intro {
  padding: 200px 25px;
  position: relative;
}
.navbar-brand {
  font-family: "Fira Sans Condensed", sans-serif;
}
.nav-link {
  font-family: "Fira Sans Condensed", sans-serif;
}
.information {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.information div {
  flex: 1;
  border: 2px solid;
  padding: 0%;
  max-width: 150px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgb(136, 135, 135);
}
.primary-link {
  text-decoration: none;
  color: white;
  margin: 20px;
  border-radius: 4px;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: rgb(141, 134, 134, 0.2);
  border: solid white 1px;
  box-shadow: 5px 2px 5px rgb(206, 204, 204);
}
.primary-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.body-links {
  color: black;
  margin: 20px;
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  max-width: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.container {
  padding-bottom: 10px;
}
.welcome {
  margin-top: 60px;
  color: white;
}
.product-description {
  padding-bottom: 30px;
  padding-left: 30px;
}
.video-wrapper {
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selfie-photo {
  border-radius: 200px;
  max-width: 60%;
  object-fit: cover;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  font-size: 55px;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
}
h2 {
  font-size: 33px;
  margin: auto;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}
h3 {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: lighter;
  font-size: 25px;
}
h4 {
  font-family: "Grape Nuts", cursive;
  font-size: 55px;
}
body {
  background-color: white;
}
p {
  font-size: 25px;
}

img {
  border-radius: 10px;
}
@media (max-width: 600px) {
  .app-info {
    text-align: center;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font: 25px;
  }
  h4 {
    padding-bottom: 0px;
  }
  .primary-link {
    padding: 10px 25px;
  }
  .product-description {
    text-align: center;
  }
}
@media (max-width: 900px) {
  p {
    font-size: 15px;
  }
  .product-description {
    padding-top: 0;
  }
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}
